node_modules
package-lock.json

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
bun.lock

# Output
dist
build

# vite.config.js
vite.config.js.timestamp-*
vite.config.js.map

.output
.vercel
.netlify

# Env
*.local